{% extends "base.html" %}

{% block content %}
<h2>Список пользователей</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Дата регистрации</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at.strftime('%d.%m.%Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
